<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<div>
			<h2> Home Page</h2> 		
	</div>
<div>
	
	<a href="/">Registartion</a> |
	<a href="/logout">Login</a><br>
	
</div>
	
	

</body>
</html>